/build/
/.vs/
/out/
/dist/
/package/
*.exe
*.dll
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.user
*.suo
*.op2
*.frd
*.dat
*.sta
*.res
*.vtk
!tests/data/postprocessing/*.vtk
*.vtu
!tests/data/postprocessing/*.vtu
*.msh
